/*global*/
/*body{
    cursor: url("../mouse/def.png") , default!important;
   
}
a,button{
    cursor: url("../mouse/pointer.png") , pointer!important;
}*/




/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(114, 114, 114) rgb(211, 211, 211);
}

/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 0.4vw;
  min-width: 10px;
  max-width: 20px;
}

*::-webkit-scrollbar-track {
  background: rgb(211, 211, 211);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
}

/*nav*/
/* Color of the links BEFORE scroll */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scrolled .navbar-brand {
  color: #fff;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #cbbcb1;
}

.mask-custom {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, .15);

}

.navbar-brand {
  font-size: 1.75rem;
  letter-spacing: 3px;
}

/*clases*/
.pegaoaltecho {
  position: sticky;
  top: 0;
  z-index: 1 !important;
}

.dropdown-menu {
  z-index: 30 !important;
}

/*footer*/
.foot {
  height: 50vh;
  background-color: black;
  bottom: 0;
  min-width: 100vw;
  padding: 0;
}

.iconos>a {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

/*iconos*/
.iconos {
  filter: invert(2);
  padding: 0;

}

@media (max-width:800px) {
  .iconos{
      max-width: fit-content;
  }
}


.iconos>div>a>img {
  font-size: 3.9292rem;
  margin: 1rem;
  padding: 0;
}

.iconos>div{
  text-align: center;
 padding: 0;
 max-width:50vw;
}

.marca {
  color: #cbbcb1;
  font-size: 1rem;
  text-align: center;
}



/*card index*/
/*
.card{
  height: 100%;
}
¨*/
.cardC {
  max-width: 500px;
}

.indexmen>div {
  margin: 5px;
  width: fit-content;
  height: fit-content;
}

.indexmen>div>div>img {
  height: 250px;
  width: fit-content;
  align-self: center;
  overflow: hidden;
}
/*
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
  justify-content: unset;
}

.navbar-brand{
  width: 80%;
}
*/


.card>.list-group{
border: 0;
}
.list-group>li{
border:0;
text-align: center;
}